<!-- Header -->
<header></header>

<!-- Primary Content -->
<main class="container-fluid">
  <div class="row mt-2 justify-content-around align-items-start">
    <div id="burgers-ordered" class="col-md-3 col-sm-12 mt-5 order-2 order-md-1">
      <h2 class="text-center">Ordered</h2>
      <ul>
        {{#each burger}}
          {{#unless devoured}}
            {{> ordered-burgers}}
          {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div id="order-form" class="col-md-6 col-sm-12 order-1 order-md-2">
      <figure class="text-center">
        <img id="veggie-burger-deluxe" src="/assets/img/veggie-burger-deluxe.png" alt="Veggie Burger Deluxe" class="img-fluid">
      </figure>
      <form id="order-form">
        <h1 class="text-center">Eat-Da-Veggie-Burger!</h1>
        <div class="form-group mt-4">
          <!--<label for="burger">Burger Name</label>-->
          <input id="burger-name" name="name" type="text" class="form-control burger" placeholder="Veggie Burger Deluxe" required>
        </div>
        <div class=" text-center">
          <button id="order-btn" type="submit" class="btn btn-outline-dark">Order</button>
        </div>
      </form>
      <figure class="mt-4 text-center">
        <img id="vegetarian-friendly-logo" src="/assets/img/vegetarian-friendly.png" alt="Vegetarian Friendly" class="img-fluid">
      </figure>
    </div>
    <div id="burgers-devoured" class="col-md-3 col-sm-12 mt-5 order-3">
      <h2 class="text-center">Devoured</h2>
      <ul>
        {{#each burger}}
          {{#if devoured}}
            {{> devoured-burgers}}
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</main>

<!-- Alerts Modal -->
<div id="alert-modal" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="alert-msg" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div id="alert-icon" class="text-center"><i class="fas fa-exclamation-circle"></i></div>
      <div id="alert-msg" class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer></footer>